<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <style>
    body {
        background-color: #faf9f6;
    }
        .row {
          display: flex;
        }

        .col {
          flex: 1;
          margin: 0 50px; /* Adjust the margin as needed */
        }

        .box {
          height: 250px; /* Set height as needed */
          background-color: #ccc; /* Set background color as needed */
        }

        .text {
          text-align: center; /* Center text horizontally */
        }
    </style>
</head>

<body>
    <h1>Explore</h1>
      <p>{message}</p>
      <div className="row">
        <div className="col">
          <div className="box"></div>
          <div className="text">Playlist Name</div>
          <div className="text">Username</div>
        </div>
        <div className="col">
          <div className="box"></div>
          <div className="text">Playlist Name</div>
          <div className="text">Username</div>
        </div>
        <div className="col">
          <div className="box"></div>
          <div className="text">Playlist Name</div>
          <div className="text">Username</div>
        </div>
        <div className="col">
          <div className="box"></div>
          <div className="text">Playlist Name</div>
          <div className="text">Username</div>
        </div>
      </div>


</body>
</html>